@import './global.scss';



@media screen and (max-width: 525px) {
    .content-wrapper {
        .content-inner-container   {
            padding: 45px !important;
            &__calculator {
                max-width: 100% !important;

                .tutorial {
                    &__tooltip {
                        bottom: 31px !important;
                    }
                }

            }
            &__cards {
                display: grid;
                /* grid-template-columns: 1fr; */
                grid-template-columns: repeat( auto-fit, minmax(141px, 1fr) ) !important;
                width: 100%;
                overflow-y: scroll;
                max-height: 440px;
            }
        }
    }
}


.content-wrapper {
    background-color: white;
    border: 0.62px solid #E2E2E2;
    border-radius: 28px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    z-index: 9;
    position: relative;
    .content-inner-container {
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__description {
            p {
                color: #675E74;
            }
        }
        &__calculator {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 431px;
            width: 431px;
            .input-group {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1;
                margin:70px 0px 40px;
                &__label {
                    font-size: 14px;
                    color: lightgray;
                }
                input {
                    width: 100%;
                    border: unset;
                    border-bottom: 1px solid lightgray;
                    outline: none;
                    padding: 15px 0px 5px;
                    font-size: 18px;
                }
            }
            .tutorial {
                font-weight: 700;
                margin-top: 28px;
                color: $darkBlue;
                position: relative;
                cursor: pointer;
                align-self: center;
                &__tooltip {
                    visibility: hidden;
                    background-color: #89CE94;
                    color: #fff;
                    text-align: center;
                    padding: 15px;
                    border-radius: 6px;
                    position: absolute;
                    height: 0px;
                    z-index: 999;
                    display:none;
                }
                
                &:hover, &:active{
                    .tutorial__tooltip {
                        visibility: visible;
                        height: unset !important;
                        width: unset !important;
                        display:block;
                        z-index: 999;
                        color: white;
                    }
                }
            }
        }

        &__cards {
            display: grid;
            /* grid-template-columns: 1fr; */
            grid-template-columns: repeat( auto-fit, minmax(206px, 1fr) );
            width: 100%;
            overflow-y: scroll;
            max-height: 440px;
        }

        &__footer {
            margin-top: 70px;
        }
    }
}


// Mobile
@media screen and (max-width: 725px) {

}